<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <h3>{{ nombreModulo }}</h3>
                </div>
            </div>
            <div class="field grid justify-content-start">

                <div class="col-12 md:col-4 ">
                    <label htmlFor="name2">Líder</label>
                    <app-selector-lider-sublider isLider="1" (itemSeleccionado)="getLider($event)">
                    </app-selector-lider-sublider>
                </div>
                <div class="col-12 md:col-4 ">
                    <label htmlFor="name2">Fecha Inicial</label>
                    <input type="date" pInputText [(ngModel)]="fecha" />
                </div>
                <div class="col-12 md:col-4 ">
                    <label htmlFor="name2">Fecha Final</label>
                    <input type="date" pInputText [(ngModel)]="fecha2" (keyup.enter)="getEstadisticas()" />
                </div>
                <div class="card flex justify-content-center">
                    <label htmlFor="name2">Mostrar Todos </label>
                    <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
                </div>
                <br>
                <div class="col-12 md:col-2 ">
                    <p-button label="Buscar" styleClass="p-button-primary" icon="pi pi-eye" (click)="getEstadisticas()"></p-button>
                </div>
                <div class="col-12 md:col-2 ">
                    <p-button label="Crear" styleClass="p-button-success" icon="pi pi-plus" (click)="openNew()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
        </div>
        <p-dialog [(visible)]="clienteDialog" [style]="{width: '660px'}" [modal]="true" header class="p-fluid">
            <div class="grid">
                <div class="col-12">
                    <div class="card p-fluid">
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-6">
                                <h3>
                                    Datos Básicos
                                </h3>
                            </div>
                        </div>
                        <div class="field grid">
                            <label htmlFor="name3" class="col-12 mb-1 md:col-1 md:mb-0">
								<b>N° Documento</b>
							</label>
                            <div class="col-12 md:col-12">

                                <input type="number" pInputText [(ngModel)]="persona.numerodocumento" (keyup.enter)="validar()" />
                                <p-button label="Buscar" styleClass="p-button-primary" icon="pi pi-eye" (click)="validar()"></p-button>
                            </div>
                        </div>

                        <div *ngIf=" visibleCampos ">
                            <div class="field grid ">
                                <label htmlFor="name3 " class="col-12 mb-1 md:col-1 md:mb-0 ">
                                    <b>Nombre </b>
                                </label>
                                <div class="col-12 md:col-12 ">
                                    <input type="text " pInputText [(ngModel)]="persona.nombrecompleto " />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template pTemplate="footer ">
                <button *ngIf="visibleCampos " (click)="saveProduct() " pButton pRipple label="Guardar " icon="pi pi-check " class="p-button-text "></button>
                <button *ngIf="persona.id " (click)="deleteItem() " pButton pRipple label="Eliminar " icon="pi pi-check " class="p-button-danger "></button>
                <button (click)="hideDialog() " pButton pRipple label="Cancelar " icon="pi pi-times " class="p-button-text "></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="modalEstadisticas " [resizable]="false " [modal]="true " [maximizable]="true " header="Estadisticas " class="p-fluid ">
            <div class="grid ">
                <div class="col-12 ">

                    <table class="table" style="width: 100%;">
                        <tr>
                            <tr>
                                <th>Registros Válidos</th>
                                <td>{{ estadistica.validos }}</td>
                            </tr>
                            <tr>
                                <th>Registros Con Errores</th>
                                <td>{{ estadistica.errores }}</td>
                            </tr>
                            <tr>
                                <th>Total Registros</th>
                                <td>{{ estadistica.total }}</td>
                            </tr>
                            <tr *ngIf="estadistica.errores>0">
                                <th>Descargar Archivo</th>
                                <button (click)="getErrores() " pButton pRipple icon="pi pi-download " class="p-button-rounded p-button-danger mr-2 "></button>
                            </tr>
                    </table>
                </div>
            </div>
            <ng-template pTemplate="footer ">
                <button (click)="modalEstadisticas=false; " pButton pRipple label="Cerrar " icon="pi pi-times " class="p-button-text "></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" [modal]="true" [style]="{ width: '450px' }" header="Confirmar">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="persona">
					Esta seguro de Eliminar a
					<b>
						{{ persona.nombrecompleto }}
					</b>
					?
				</span>
            </div>
            <ng-template pTemplate="footer">

                <button (click)="confirmDelete()" pButton pRipple icon="pi pi-check" class="p-button-text" label="Aceptar"></button>

                <button (click)="deleteProductDialog = false" pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancelar"></button>

            </ng-template>
        </p-dialog>





    </div>
</div>