<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <h3>{{ nombreModulo }}</h3>
                </div>
            </div>

            <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="p-grid p-fluid"
        >

            <div class="grid">
                <!-- Columna 1 -->
                <div class="col-12 md:col-6 lg:col-4">
                    <label for="tipo" class="label-bold">Sede</label>
                    <app-selector-sede
                        (itemSeleccionado)="getValores($event, 'sede')"
                    ></app-selector-sede>
                </div>
                <!-- Columna 2 -->
                <div class="col-12 md:col-6 lg:col-4">
                    <label for="grado" class="label-bold">Grado</label>
                    <app-selector-grados [mostrar]="false"
                        (itemSeleccionado)="getValores($event, 'grado')"
                    ></app-selector-grados>
                </div>

                <div class="col-12 md:col-6 lg:col-4">
                    <label for="docente" class="label-bold">Periodo</label>
                    <app-selector-periodo
                        (itemSeleccionado)="getValores($event, 'periodo')"
                    ></app-selector-periodo>
                </div>
            </div>

            <!-- Botón de enviar -->
            <div class="grid">
                <div class="col-12 md:col-3 lg:col-3">
                    <button type="submit" icon="pi pi-search" class="p-button-info" pButton> Generar PDF</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
