<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <h3>{{ nombreModulo }}</h3>
                </div>
            </div>

            <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="p-grid p-fluid"
        >

            <div class="grid">
                <!-- Columna 1 -->
                <div class="col-12 md:col-4 lg:col-4">
                    <label for="tipo" class="label-bold">Sede</label>
                    <app-selector-sede
                        (itemSeleccionado)="getValores($event, 'sede')"
                    ></app-selector-sede>
                </div>
                <!-- Columna 2 -->
                <div class="col-12 md:col-4 lg:col-4">
                    <label for="grado" class="label-bold">Grado</label>
                    <app-selector-grados [mostrar]="false"
                        (itemSeleccionado)="getValores($event, 'grado')"
                    ></app-selector-grados>
                </div>

                <div class="col-12 md:col-3 lg:col-4">
                    <label for="docente" class="label-bold">Periodo</label>
                    <app-selector-periodo
                        (itemSeleccionado)="getValores($event, 'periodo')"
                    ></app-selector-periodo>
                </div>
            </div>

            <!-- Botón de enviar -->
            <div class="grid">
                <div class="col-12 md:col-4 lg:col-4">
                    <button type="submit" icon="pi pi-search" class="p-button-info" pButton> Buscar</button>
                </div>
                <div class="col-12 md:col-4 lg:col-4">
                    <p-button label="Crear" [routerLink]="['/preescolar/registro']" routerLinkActive="router-link-active"  styleClass="p-button-success" icon="pi pi-plus"></p-button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="grid" *ngIf="data.length>0">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="data" [columns]="cols" [rows]="10" [globalFilterFields]="[
                    'sede',
                    'asignatura',
                    'periodo_id',
                    'grado',
                    'apellidos',
                    'nombres',
                    'id',
                    'estado',
                ]" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true" [rowHover]="true" responsiveLayout="scroll" currentPageReportTemplate="Mostrando {first} to {last} de {totalRecords} registros" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Información General</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
							<i class="pi pi-search"></i>
							<input (input)="onGlobalFilter(dt, $event)"
								pInputText
								type="text"
								placeholder="Buscar..."
								class="w-full sm:w-auto">
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">
                            N°
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="">
                            Sede
                            <p-sortIcon field=""></p-sortIcon>
                        </th>
                        <th pSortableColumn="grado">
                            Grado
                            <p-sortIcon field="grado"></p-sortIcon>
                        </th>
                        <th pSortableColumn="asignatura">
                           Aréa/Asignatura
                            <p-sortIcon field="asignatura"></p-sortIcon>
                        </th>
                        <th pSortableColumn="periodo_id">
                            Periodo
                             <p-sortIcon field="periodo_id"></p-sortIcon>
                         </th>
                        <th pSortableColumn="apellidos">
                            Estudiante
                            <p-sortIcon field="apellidos"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nota">
                            Logro
                             <p-sortIcon field="nota"></p-sortIcon>
                         </th>
                         <th pSortableColumn="">
                            Fecha Registro
                            <p-sortIcon field=""></p-sortIcon>
                        </th>


                        <th pSortableColumn="estado">
                            Estado
                            <p-sortIcon field="estado"></p-sortIcon>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td style="width: 10%; min-width: 5rem">
                            <span class="p-column-title">N° </span> {{ i + 1 }}
                        </td>
                        <td style="width: 22%; min-width: 5rem">
                            <span class="p-column-title">Sede</span> {{ item.sede }}
                        </td>
                        <td style="width: 22%; min-width: 10rem">
                            <span class="p-column-title">Grado</span> {{ item.grado }}
                        </td>
                        <td style="width: 22%; min-width: 10rem">
                            <span class="p-column-title">Aréa/Asignatura</span> {{ item.asignatura }}
                        </td>
                        <td style="width: 22%; min-width: 5rem">
                            <span class="p-column-title">Periodo</span> {{ item.periodo_id }}
                        </td>
                        <td style="width: 50%; min-width: 30rem">
                            <span class="p-column-title">Estudiante</span> {{ item.apellidos+" "+item.nombres }}
                        </td>
                        <td style="width: 22%; min-width: 10rem">
                            <span class="p-column-title">Nota</span> {{ item.logro  }}
                        </td>
                        <td style="width: 26%; min-width: 10rem">
                            <span class="p-column-title">Fecha Registro</span> {{ item.created_at|date:'dd/MM/yyyy hh:mm:ss'  }}
                        </td>
                        <td style="width: 26%; min-width: 10rem">
                            <span class="p-column-title">Estado</span> {{ item.estado=="1"?'ACTIVO':'BLOQUEADO'}}
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
