<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <h3>{{ nombreModulo }}</h3>
                </div>
            </div>
            <div class="field grid justify-content-start">
                <div class="col-12 md:col-2">
                    <p-button
                        label="Crear"
                        styleClass="p-button-success"
                        icon="pi pi-plus"
                        (click)="openNew()"
                    ></p-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table
                #dt
                [value]="data"
                [columns]="cols"
                [rows]="10"
                [globalFilterFields]="['sede.nombre', 'grado.descripcion', 'docente.apellidos', 'estado']"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                [rowHover]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Mostrando {first} to {last} de {totalRecords} registros"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Información General</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                (input)="onGlobalFilter(dt, $event)"
                                pInputText
                                type="text"
                                placeholder="Buscar..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">
                            Código
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sede.nombre">
                            Sede
                            <p-sortIcon field="sede.nombre"></p-sortIcon>
                        </th>
                        <th pSortableColumn="grado.descripcion">
                            Grado
                            <p-sortIcon field="grado.descripcion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="docente.apellidos">
                            Docente
                            <p-sortIcon field="docente.apellidos"></p-sortIcon>
                        </th>

                        <th pSortableColumn="estado">
                            Estado
                            <p-sortIcon field="estado"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td style="width: 10%; min-width: 10rem">
                            <span class="p-column-title">Código</span>
                            {{ item.id }}
                        </td>
                        <td style="width: 32%; min-width: 10rem">
                            <span class="p-column-title">Sede</span>
                            {{ item.sede.nombre }}
                        </td>
                        <td style="width: 32%; min-width: 10rem">
                            <span class="p-column-title">Grado</span>
                            {{ item.grado.descripcion }}
                        </td>
                        <td style="width: 32%; min-width: 10rem">
                            <span class="p-column-title">Docente</span>
                            {{ item.docente.nombres+" "+item.docente.apellidos }}
                        </td>
                        <td style="width: 26%; min-width: 10rem">
                            <span class="p-column-title">Estado</span>
                            {{ item.estado == "1" ? "ACTIVO" : "BLOQUEADO" }}
                        </td>

                        <td>
                            <div class="flex">
                                <button
                                    (click)="editProduct(item)"
                                    pButton
                                    pRipple
                                    pTooltip="Editar"
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                ></button>
                                <p-button
                                    (click)="bloqueoCliente(item)"
                                    icon="pi pi-check"
                                    pTooltip="Click to proceed"
                                    styleClass="p-button-rounded p-button-warning"
                                ></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="clienteDialog"
            [style]="{ width: '650px' }"
            [modal]="true"
            header
            class="p-fluid"
        >
            <div class="card">
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-6">
                        <h3>Datos Básicos</h3>
                    </div>
                </div>
                <form
                    [formGroup]="form"
                    (ngSubmit)="onSubmit()"
                    class="p-grid p-fluid"
                >
                    <!-- Primera fila -->

                  <div class="grid">
                    <div class="col-12 md:col-6 lg:col-6">
                        <label for="sede" class="label-bold">Sede</label>
                        <app-selector-sede
                            (itemSeleccionado)="getValores($event, 'sede')"
                        ></app-selector-sede>
                        <div
                            *ngIf="
                                form.get('sede_id').invalid &&
                                (form.get('sede_id').dirty ||
                                    form.get('sede_id').touched)
                            "
                        >
                            <small
                                class="text-danger"
                                *ngIf="form.get('sede_id').errors"
                                >La Sede es requerida</small
                            >
                        </div>
                    </div>

                        <!-- Columna 1 -->
                        <div class="col-12 md:col-6 lg:col-6">
                            <label for="grado_id" class="label-bold">Grado</label>
                            <app-selector-grados
                                (itemSeleccionado)="getValores($event, 'grado')"
                            ></app-selector-grados>
                            <div
                                *ngIf="
                                    form.get('grado_id').invalid &&
                                    (form.get('grado_id').dirty ||
                                        form.get('grado_id').touched)
                                "
                            >
                                <small
                                    class="text-danger"
                                    *ngIf="form.get('grado_id').errors"
                                    >El Grado es requerido</small
                                >
                            </div>
                        </div>
                        <!-- Columna 2 -->

                    </div>

                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-6">
                            <label for="docente_id" class="label-bold" >Docente</label>
                            <app-selector-docentes
                                (itemSeleccionado)="getValores($event, 'docente')"
                            ></app-selector-docentes>
                            <div
                                *ngIf="
                                    form.get('docente_id').invalid &&
                                    (form.get('docente_id').dirty ||
                                        form.get('docente_id').touched)
                                "
                            >
                                <small
                                    class="text-danger"
                                    *ngIf="form.get('docente_id').errors"
                                    >El Docente es requerido</small
                                >
                            </div>
                        </div>

                        </div>

                    <!-- Botón de enviar -->
                    <div class="p-col-12">
                        <button type="submit" icon="pi pi-check" class="p-button-success" pButton>Guardar</button>
                    </div>
                </form>
            </div>
            <ng-template pTemplate="footer">
                <button
                    (click)="hideDialog()"
                    pButton
                    pRipple
                    label="Cancelar"
                    icon="pi pi-times"
                    class="p-button-danger"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteProductDialog"
            [modal]="true"
            [style]="{ width: '450px' }"
            header="Confirmar"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="direccion">
                    Esta seguro de Cambiar el estado al Registro ?
                </span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    (click)="confirmDelete()"
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-success"
                    label="Aceptar"
                ></button>
                <button
                    (click)="deleteProductDialog = false"
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-danger"
                    label="Cancelar"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
