<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <h3>{{ nombreModulo }}</h3>
                </div>
            </div>

            <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="p-grid p-fluid"
        >

            <div class="grid">
                <!-- Columna 1 -->
                <div class="col-12 md:col-4 lg:col-3">
                    <label for="tipo" class="lable-bold">Sede</label>
                    <app-selector-sede
                        (itemSeleccionado)="getValores($event, 'sede')"
                    ></app-selector-sede>
                </div>
                <!-- Columna 2 -->
                <div class="col-12 md:col-6 lg:col-3">
                    <label for="grado" class="lable-bold">Grado</label>
                    <app-selector-grados
                        (itemSeleccionado)="getValores($event, 'grado')"
                    ></app-selector-grados>
                </div>


            </div>

            <!-- Botón de enviar -->
            <div class="grid">
                <div class="col-12 md:col-3 lg:col-3">
                    <button type="submit" icon="pi pi-search" class="p-button-info" pButton> Buscar</button>
                </div>
                <div class="col-12 md:col-3 lg:col-3">
                    <p-button label="Crear" [routerLink]="['/matriculas/registro/0']" routerLinkActive="router-link-active"  styleClass="p-button-success" icon="pi pi-plus" ></p-button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="data" [columns]="cols" [rows]="10" [globalFilterFields]="[
                    'sede.nombre',
                    'grado.descripcion',
                    'estudiante.nombres',
                    'estudiante.apellidoss',
                    'estudiante.num_docs',
                    'id',
                    'estado',
                ]" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true" [rowHover]="true" responsiveLayout="scroll" currentPageReportTemplate="Mostrando {first} to {last} de {totalRecords} registros" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Información General</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
							<i class="pi pi-search"></i>
							<input (input)="onGlobalFilter(dt, $event)"
								pInputText
								type="text"
								placeholder="Buscar..."
								class="w-full sm:w-auto">
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">
                            Código
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sede.nombre">
                            Sede
                            <p-sortIcon field="sede.nombre"></p-sortIcon>
                        </th>
                        <th pSortableColumn="grado.descripcion">
                            Grado
                            <p-sortIcon field="grado.descripcion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="estudiante.apellidos">
                            Estudiante
                            <p-sortIcon field="estudiante.apellidos"></p-sortIcon>
                        </th>
                        <th pSortableColumn="estudiante.tipo_doc">
                           Tipo Documento
                            <p-sortIcon field="estudiante.tipo_doc"></p-sortIcon>
                        </th>
                        <th pSortableColumn="estudiante.num_doc">
                           Número Documento
                            <p-sortIcon field="estudiante.num_doc"></p-sortIcon>
                        </th>
                        <th pSortableColumn="">
                            Folio
                            <p-sortIcon field="folio"></p-sortIcon>
                        </th>

                        <th pSortableColumn="estado">
                            Estado
                            <p-sortIcon field="estado"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td style="width: 10%; min-width: 10rem">
                            <span class="p-column-title">Código</span> {{ item.id }}
                        </td>
                        <td style="width: 32%; min-width: 10rem">
                            <span class="p-column-title">Sede</span> {{ item.sede.nombre }}
                        </td>
                        <td style="width: 22%; min-width: 10rem">
                            <span class="p-column-title">Grado</span> {{ item.grado.descripcion }}
                        </td>
                        <td style="width: 22%; min-width: 10rem">
                            <span class="p-column-title">Estudiante</span> {{ item.estudiante.nombres+" "+ item.estudiante.apellidos }}
                        </td>
                        <td style="width: 22%; min-width: 10rem">
                            <span class="p-column-title">Tipo Documento</span> {{ item.estudiante.tipo_doc }}
                        </td>
                        <td style="width: 22%; min-width: 10rem">
                            <span class="p-column-title">Número Documento</span> {{ item.estudiante.num_doc }}
                        </td>
                        <td style="width: 22%; min-width: 10rem">
                            <span class="p-column-title">Folio</span> {{ item.folio }}
                        </td>
                        <td style="width: 26%; min-width: 10rem">
                            <span class="p-column-title">Estado</span> {{ item.estado=="1"?'ACTIVO':'BLOQUEADO'}}
                        </td>

                        <td>
                            <div class="flex">
                                <button (click)="openNew(item.id)" pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-primary mr-2"></button>

                                <button (click)="editProduct(item)" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                <p-button (click)="bloqueoCliente(item)"   icon="pi pi-check"
                                    styleClass="p-button-rounded p-button-warning"></p-button>

                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="clienteDialog" [style]="{width: '660px'}" [modal]="true" header class="p-fluid">
            <div class="grid">
                <div class="col-12">
                    <div class="card p-fluid">
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-6">
                                <h3>
                                    Datos Básicos
                                </h3>
                            </div>
                        </div>
                        <form [formGroup]="formEdit" (ngSubmit)="onSubmitEditar()" >
                        <div class="field grid">
                            <label htmlFor="name3" class="col-12 mb-1 md:col-1 md:mb-0">
								<b>Sede</b>
							</label>
                            <div class="col-12 md:col-12">
                                <app-selector-sede #sedes
                                (itemSeleccionado)="getValoresEdit($event, 'sede')"
                            ></app-selector-sede>
                            <div
                                *ngIf="
                                    form.get('sede_id').invalid &&
                                    (form.get('sede_id').dirty ||
                                        form.get('sede_id').touched)
                                "
                            >
                                <small
                                    class="text-danger"
                                    *ngIf="form.get('sede_id').errors"
                                    >La Sede es requerida</small
                                >
                            </div>
                            </div>
                        </div>

                        <div class="field grid">
                            <label htmlFor="name3" class="col-12 mb-1 md:col-1 md:mb-0">
								<b>Grado </b>
							</label>
                            <div class="col-12 md:col-12">
                                <app-selector-grados #grados
                                    (itemSeleccionado)="getValoresEdit($event, 'grado')"
                                ></app-selector-grados>
                                <div
                                *ngIf="
                                    formEdit.get('grado_id').invalid &&
                                    (formEdit.get('grado_id').dirty ||
                                        formEdit.get('grado_id').touched)
                                "
                            >
                                <small
                                    class="text-danger"
                                    *ngIf="formEdit.get('grado_id').errors"
                                    >El Grado es requerido</small
                                >
                            </div>

                            </div>
                        </div>


                        <div class="field grid">
                            <label htmlFor="name3" class="col-12 mb-1 md:col-1 md:mb-0">
								<b>Folio</b>
							</label>
                            <div class="col-12 md:col-12">
                                <input
                                type="text"
                                formControlName="folio"
                                pInputText
                            />
                            <div
                                *ngIf="
                                    formEdit.get('folio').invalid &&
                                    (formEdit.get('folio').dirty ||
                                    formEdit.get('folio').touched)
                                "
                            >
                                <small
                                    class="text-danger"
                                    *ngIf="formEdit.get('folio').errors"
                                    >El Folio es requerido </small
                                >
                            </div>
                            </div>
                        </div>

                        <div class="field grid">
                            <label htmlFor="name3" class="col-12 mb-1 md:col-1 md:mb-0">
								<b>Repitente</b>
							</label>
                            <div class="col-12 md:col-12">
                                <app-selector-generico #repitente [items]="itemsSiNo"
                                    (itemSeleccionado)="getValoresEdit($event, 'repitente')"
                                ></app-selector-generico>
                                <div
                                *ngIf="
                                    formEdit.get('repitente').invalid &&
                                    (formEdit.get('repitente').dirty ||
                                        formEdit.get('repitente').touched)
                                "
                            >
                                <small
                                    class="text-danger"
                                    *ngIf="formEdit.get('repitente').errors"
                                    >La opción Repitente es requerida</small
                                >
                            </div>

                            </div>
                        </div>
                        <div class="field grid">
                            <label htmlFor="name3" class="col-12 mb-1 md:col-1 md:mb-0">
								<b>Cambio Sede</b>
							</label>
                            <div class="col-12 md:col-12">
                                <app-selector-generico #cambioSede [items]="itemsSiNo"
                                    (itemSeleccionado)="getValoresEdit($event, 'cambio_sede')"
                                ></app-selector-generico>
                                <div
                                *ngIf="
                                    formEdit.get('cambio_sede').invalid &&
                                    (formEdit.get('cambio_sede').dirty ||
                                        formEdit.get('cambio_sede').touched)
                                "
                            >
                                <small
                                    class="text-danger"
                                    *ngIf="formEdit.get('cambio_sede').errors"
                                    >La opción Cambio de Sede es requerida</small
                                >
                            </div>

                            </div>
                        </div>
                        <button type="submit" icon="pi pi-check" class="p-button-success" pButton>Guardar</button>
                    </form>
                    </div>
                </div>
            </div>

            <ng-template pTemplate="footer">
                <button (click)="hideDialog()" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" [modal]="true" [style]="{ width: '450px' }" header="Confirmar">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="matricula">
					Esta seguro de Cambiar el estado al Registro
					<b>
						{{ matricula.id }}
					</b>
					?
				</span>
            </div>
            <ng-template pTemplate="footer">
                <button (click)="confirmDelete()" pButton pRipple icon="pi pi-check" class="p-button-text" label="Aceptar"></button>
                <button (click)="deleteProductDialog = false" pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancelar"></button>

            </ng-template>
        </p-dialog>


    </div>
</div>
