<div class="grid" *ngIf="rol=='3'">

            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Sedes</span>
                            <div class="text-900 font-medium text-xl">{{ contadores.sedes }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Docentes</span>
                            <div class="text-900 font-medium text-xl">{{ contadores.docentes }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Matriculas</span>
                            <div class="text-900 font-medium text-xl">{{ contadores.matriculas }}</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Avance Periodo</span>
                            <div class="text-900 font-medium text-xl">Asignadas {{ contadores.asignadas }}</div>
                            <div class="text-900 font-medium text-xl">Calificadas {{ contadores.calificadas }}</div>
                            <div class="text-900 font-medium text-xl">Avance {{ contadores.porcentaje }}%</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 md:col-3">
                <div class="card">
                    <h5>Total Estudiantes por Grado</h5>
                    <p-table [value]="matriculasGrado" [tableStyle]="{ 'min-width': '25rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Grado</th>
                                <th>Total</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td >{{ item.descripcion }}</td>
                                <td>{{ item.total }}</td>
                        </ng-template>
                    </p-table>
                </div>

            </div>

            <div class="col-12 xl:col-3">
                <div class="card">
                    <h5>Total Estudiantes por Sede</h5>
                    <p-table [value]="matriculasSede" [tableStyle]="{ 'min-width': '25rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Sede</th>
                                <th>Total</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.total }}</td>
                        </ng-template>
                    </p-table>
                </div>

            </div>


</div>

<div  *ngIf="rol=='1' || rol=='2' || rol=='4'">
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Sede</span>
                    <div class="text-900 font-medium text-xl">{{ contadoresDocentes.sede }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Total Asignación</span>
                    <div class="text-900 font-medium text-xl">{{ contadoresDocentes.asignaciones }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Dirección Grado</span>
                    <div class="text-900 font-medium text-xl">{{ contadoresDocentes.direcciongrado }}</div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Información Periodo</span>
                    <div class="text-900 font-medium text-xl">{{ contadoresDocentes.periodo }}</div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>

                <div class="text-900 font-medium text-xl">Asignadas: {{ contadoresDocentes.asignaciones }}</div>
                <div class="text-900 font-medium text-xl">Calificadas: {{ contadoresDocentes.calificadas }}</div>
                <div class="text-900 font-medium text-xl">Avance: {{ contadoresDocentes.avance }} %</div>
            </div>
        </div>
    </div>
</div>
</div>




