<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <h3>{{ nombreModulo }}</h3>
                </div>
            </div>

            <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="p-grid p-fluid"
        >

            <div class="grid">
                <!-- Columna 1 -->
                <div class="col-12 md:col-4 lg:col-3">
                    <label for="tipo" class="label-bold">Sede</label>
                    <app-selector-sede
                        (itemSeleccionado)="getValores($event, 'sede')"
                    ></app-selector-sede>
                </div>
                <!-- Columna 2 -->
                <div class="col-12 md:col-6 lg:col-3">
                    <label for="grado" class="label-bold">Grado</label>
                    <app-selector-grados [mostrar]="false"
                        (itemSeleccionado)="getValores($event, 'grado')"
                    ></app-selector-grados>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <label for="asignatura" class="label-bold">Aréa/Asignatura</label>
                    <app-selector-asignaturas [mostrar]="false"
                        (itemSeleccionado)="getValores($event, 'asignatura')"
                    ></app-selector-asignaturas>
                </div>

                <div class="col-12 md:col-3 lg:col-3">
                    <label for="docente" class="label-bold">Semestre</label>
                    <app-selector-periodo
                    [semestre]="true"
                        (itemSeleccionado)="getValores($event, 'periodo')"
                    ></app-selector-periodo>
                </div>
            </div>

            <!-- Botón de enviar -->
            <div class="grid">
                <div class="col-12 md:col-3 lg:col-3">
                    <button type="submit" icon="pi pi-search" class="p-button-info" pButton> Buscar</button>
                </div>
                <div class="col-12 md:col-3 lg:col-3">
                    <p-button label="Crear" [routerLink]="['/nivelaciones/registro/guardar']" routerLinkActive="router-link-active"  styleClass="p-button-success" icon="pi pi-plus" ></p-button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="grid" *ngIf="data.length>0">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="data" [columns]="cols" [rows]="10" [globalFilterFields]="[
                    'sede',
                    'asignatura',
                    'periodo_id',
                    'grado',
                    'apellidos',
                    'nombres',
                    'id',
                    'estado',
                ]" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true" [rowHover]="true" responsiveLayout="scroll" currentPageReportTemplate="Mostrando {first} to {last} de {totalRecords} registros" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Información General</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
							<i class="pi pi-search"></i>
							<input (input)="onGlobalFilter(dt, $event)"
								pInputText
								type="text"
								placeholder="Buscar..."
								class="w-full sm:w-auto">
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">
                            N°
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="apellidos">
                            Estudiante
                            <p-sortIcon field="apellidos"></p-sortIcon>
                        </th>
                        <th pSortableColumn="">
                            Nota Anterior
                             <p-sortIcon field=""></p-sortIcon>
                         </th>
                         <th pSortableColumn="">
                            Nota Periodo Actual
                             <p-sortIcon field=""></p-sortIcon>
                         </th>
                         <th pSortableColumn="">
                            Nota Promedio
                             <p-sortIcon field=""></p-sortIcon>
                         </th>
                         <th pSortableColumn="">
                            Nota Nivelación
                             <p-sortIcon field=""></p-sortIcon>
                         </th>
                         <th pSortableColumn="">
                            Fecha Registro
                            <p-sortIcon field=""></p-sortIcon>
                        </th>
                        <th pSortableColumn="estado">
                            Estado
                            <p-sortIcon field="estado"></p-sortIcon>
                        </th>
                        <td *ngIf="rol=='3'"></td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td style="width: 10%; min-width: 5rem">
                            <span class="p-column-title">N° </span> {{ i + 1 }}
                        </td>
                        <td style="width: 30%; min-width: 15rem">
                            <span class="p-column-title">Estudiante</span> {{ item.apellidos+" "+item.nombres }}
                        </td>
                        <td style="width: 10%; min-width: 10rem">
                            <span class="p-column-title">Nota Anterior</span> {{ item.notaanterior  | number : '1.2-2' }}
                        </td>
                        <td style="width: 12%; min-width: 10rem">
                            <span class="p-column-title">Nota Periodo Actual</span> {{ item.notaperiodo  | number : '1.2-2' }}
                        </td>
                        <td style="width: 10%; min-width: 10rem">
                            <span class="p-column-title">Promedio</span> {{ item.promedio  | number : '1.2-2' }}
                        </td>
                        <td style="width: 12%; min-width: 10rem">
                            <span class="p-column-title">Nota Nivelación</span> {{ item.nota  | number : '1.2-2' }}
                        </td>
                        <td style="width: 10%; min-width: 10rem">
                            <span class="p-column-title">Fecha Registro</span> {{ item.created_at|date:'dd/MM/yyyy hh:mm:ss'  }}
                        </td>
                        <td style="width: 10%; min-width: 10rem">
                            <span class="p-column-title">Estado</span> {{ item.estado=="1"?'ACTIVO':'BLOQUEADO'}}
                        </td>
                        <td *ngIf="rol=='3'">
                            <div class="flex">
                                <p-button (click)="bloqueoCliente(item)"   icon="pi pi-check"
                                    styleClass="p-button-rounded p-button-warning"></p-button>

                            </div>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog [(visible)]="deleteProductDialog" [modal]="true" [style]="{ width: '450px' }" header="Confirmar">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="nota">
            Esta seguro de eliminar la Nota
            ?
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button (click)="confirmDelete()" pButton pRipple icon="pi pi-check" class="p-button-success" label="Aceptar"></button>
        <button (click)="deleteProductDialog = false" pButton pRipple icon="pi pi-times" class="p-button-danger" label="Cancelar"></button>

    </ng-template>
</p-dialog>
