<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                    <h3>{{ nombreModulo }}</h3>
                </div>
            </div>

            <form
                [formGroup]="form"
                (ngSubmit)="onSubmit()"
                class="p-grid p-fluid"
            >
                <div class="grid">
                    <!-- Columna 1 -->
                    <div class="col-12 md:col-6 lg:col-3">
                        <label for="tipo" class="label-bold">Sede</label>
                        <app-selector-sede
                            (itemSeleccionado)="getValores($event, 'sede')"
                        ></app-selector-sede>
                        <div
                            *ngIf="
                                form.get('sede_id').invalid &&
                                (form.get('sede_id').dirty ||
                                    form.get('sede_id').touched)
                            "
                        >
                            <small
                                class="text-danger"
                                *ngIf="form.get('sede_id').errors"
                                >La Sede es requerida</small
                            >
                        </div>
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-12 md:col-6 lg:col-3">
                        <label for="grado" class="label-bold">Grado</label>
                        <app-selector-grados
                            (itemSeleccionado)="getValores($event, 'grado')"
                        ></app-selector-grados>
                        <div
                            *ngIf="
                                form.get('grado_id').invalid &&
                                (form.get('grado_id').dirty ||
                                    form.get('grado_id').touched)
                            "
                        >
                            <small
                                class="text-danger"
                                *ngIf="form.get('grado_id').errors"
                                >El Grado es requerido</small
                            >
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3">
                        <label for="asignatura" class="label-bold"
                            >Aréa/Asignatura</label
                        >
                        <app-selector-asignaturas
                            (itemSeleccionado)="
                                getValores($event, 'asignatura')
                            "
                        ></app-selector-asignaturas>
                        <div
                            *ngIf="
                                form.get('asignatura_id').invalid &&
                                (form.get('asignatura_id').dirty ||
                                    form.get('asignatura_id').touched)
                            "
                        >
                            <small
                                class="text-danger"
                                *ngIf="form.get('asignatura_id').errors"
                                >La Asignatura es requerida</small
                            >
                        </div>
                    </div>

                    <div class="col-12 md:col-6 lg:col-3">
                        <label for="docente" class="label-bold">Periodo</label>
                        <app-selector-periodo
                        [semestre]="true"
                            (itemSeleccionado)="getValores($event, 'periodo')"
                        ></app-selector-periodo>
                        <div
                            *ngIf="
                                form.get('periodo_id').invalid &&
                                (form.get('periodo_id').dirty ||
                                    form.get('periodo_id').touched)
                            "
                        >
                            <small
                                class="text-danger"
                                *ngIf="form.get('periodo_id').errors"
                                >El Periodo es requerido</small
                            >
                        </div>
                    </div>
                </div>

                <!-- Botón de enviar -->
                <div class="grid">
                    <div class="col-12 md:col-3 lg:col-3">
                        <button
                            type="submit"
                            icon="pi pi-search"
                            class="p-button-info"
                            pButton
                        >
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-loading *ngIf="mostrarLoading"></app-loading>

<div class="grid" *ngIf="data.length > 0">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card px-6 py-6">
            <form [formGroup]="formEnviar" (ngSubmit)="onSubmitEnviar()">
                <p-table
                    #dt
                    [value]="data"
                    [columns]="cols"
                    [rows]="50"
                    [globalFilterFields]="[
                        'estudiante'
                    ]"
                    [rows]="10"
                    [paginator]="false"
                    [rowsPerPageOptions]="[10, 20, 30]"
                    [showCurrentPageReport]="true"
                    [rowHover]="true"
                    responsiveLayout="scroll"
                    currentPageReportTemplate="Mostrando {first} to {last} de {totalRecords} registros"
                    dataKey="id"
                >
                    <ng-template pTemplate="caption">
                        <div
                            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                        >
                            <h5 class="m-0">Información General</h5>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input
                                    (input)="onGlobalFilter(dt, $event)"
                                    pInputText
                                    type="text"
                                    placeholder="Buscar..."
                                    class="w-full sm:w-auto"
                                />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="">
                                N°
                                <p-sortIcon field=""></p-sortIcon>
                            </th>
                            <th pSortableColumn="estudiante">
                                Estudiante
                                <p-sortIcon field="estudiante"></p-sortIcon>
                            </th>
                            <th pSortableColumn="">
                                Nota Periodo
                                <p-sortIcon field=""></p-sortIcon>
                            </th>
                            <th>Nota Nivelacion (100%)</th>


                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-i="rowIndex"
                        >
                        <tr>
                            <td style="width: 10%; min-width: 5rem">
                                <span class="p-column-title">Código</span>
                                {{ i + 1 }}
                            </td>
                            <td style="width: 32%; min-width: 10rem">
                                <span class="p-column-title">Estudiante</span>
                                {{ item.estudiante }}
                            </td>
                            <td style="width: 15%; min-width: 10rem">
                                <span class="p-column-title">Nota Periodo</span>
                                {{ item.notaperiodo }}
                            </td>
                            <td >
                                <span class="p-column-title"
                                    >Nota Nivelacion (100%)</span>

                                <div formArrayName="notas">
                                    <input
                                    style="width: 70%"
                                        type="number"
                                        pInputText
                                        [formControlName]="i"
                                        min="1"
                                        step="0.1"
                                        max="3"
                                        required
                                    />
                                </div>
                            </td>


                        </tr>
                    </ng-template>
                </p-table>
                <button
                    type="submit"
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-rounded p-button-success mr-2"
                >
                    Guardar
                </button>
            </form>
        </div>



    </div>
</div>

<p-dialog position="top"   [maximizable]="true" [(visible)]="modalDetalle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <div class="grid" *ngIf="dataNotas.length>0">
        <div class="col-12 md:col-6 lg:col-4">
            <label for="" class="label-bold">Grado</label>
            <h4>{{dataNotas[0].grado}}</h4>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
            <label for="" class="label-bold">Aréa/Asignatura</label>
            <h4>{{dataNotas[0].asignatura}}</h4>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
            <label for="" class="label-bold">Periodo</label>
            <h4>{{dataNotas[0].periodo_id}}</h4>
        </div>
    </div>


    <p-table
    #dtdetalles
    [value]="dataNotas"
    [columns]="cols"
    [rows]="50"
    [globalFilterFields]="[
        'id',
        'apellidos'
    ]"
    [paginator]="false"
    [rowsPerPageOptions]="[10, 20, 30]"
    [showCurrentPageReport]="true"
    [rowHover]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="Mostrando {first} to {last} de {totalRecords} registros"
    dataKey="id"
>
    <ng-template pTemplate="caption">
        <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
        >
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    (input)="onGlobalFilter(dtdetalles, $event)"
                    pInputText
                    type="text"
                    placeholder="Buscar..."
                    class="w-full sm:w-auto"
                />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="apellidos">
                Estudiante
                <p-sortIcon field="apellidos"></p-sortIcon>
            </th>
            <th pSortableColumn="">
                Nota Nivelación
                <p-sortIcon field=""></p-sortIcon>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex"
        >
        <tr>
            <td style="width: 50%; min-width: 10rem">
                <span class="p-column-title">Estudiante</span>
                {{ item.apellidos+" "+item.nombres }}
            </td>

            <td style="width: 32%; min-width: 10rem">
                <span class="p-column-title">Nota</span>
                {{ item.nota | number : '1.2-2' }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td >
                <button
                                (click)="modalDetalle=false"
                                pButton
                                pRipple
                                icon="pi pi-check"
                                class="p-button-rounded p-button-warning mr-2"
                            > Aceptar</button>
            </td>

            <td >
                <button
                                (click)="reporteNivelaciones(dataNotas[0].sede_id, dataNotas[0].grado_id, dataNotas[0].asignatura_id, dataNotas[0].periodo_id)"
                                pButton
                                pRipple
                                icon="pi pi-print"
                                class="p-button-rounded p-button-info mr-2"
                            > Reporte Nivelación</button>
            </td>
        </tr>
    </ng-template>

</p-table>
</p-dialog>
